/* TOP BODY */

.top-body {
  padding-left: 20px;
  padding-right: 20px;
}

.top-heading {
  /* padding-top: 60px; */
  padding-top: 30px;
}

.logo-image {
  width: 28px;
  /* width: 43px; */
  /* margin-right: 25px; */
  margin-right: 12px;
}

.login-btn {
  /* width: 79px;
  height: 36px; */
  width: 60px;
  height: 24px;
  /* padding: 11px 15px; */
}

.create-account {
  display: none;
  padding: 5px 10px;
}

.top-content {
  padding-top: 100px;
  padding-bottom: 100px;
  /* padding-top: 200px;
  padding-bottom: 200px; */
}

.lorem {
  /* width: 57.655954%; */
  width: 100%;
}

.lorem-content {
  /* width: 87.377049%; */
  width: 100%;
  padding-top: 20px;
  padding-bottom: 44px;
  /* padding-top: 50px;
  padding-bottom: 72px; */
}

.read-more {
  display: block;
  width: 150px;
  padding: 10px 20px;
  text-align: center;
  /* padding: 22px 42px; */
}

.message-image {
  width: 276px;
  margin-right: 35px;
  display: none;
}

/* TOP BODY */

/* SECOND BODY */

.second-body {
  padding-left: 20px;
  padding-right: 20px;
}

.second-body-left {
  width: 100%;
  /* width: 78.449905%; */
}

.doc-image {
  width: 212px;
  display: none;
}

.doc-description {
  padding-top: 50px;
  width: 100%;
  /* width: 63.855421%; */
}

.doc-description-heading {
  margin-bottom: 30px;
}

.second-body-right {
  padding-top: 20px;
  /* padding-top: 50px; */
  width: 34px;
}

.edit-logo {
  width: 34px;
  margin-bottom: 22px;
  /* width: 68px;
  margin-bottom: 45px; */
}

.facebook-logo {
  width: 34px;
  margin-bottom: 22px;
  /* width: 68px; */
}

/* SECOND BODY */

/* THIRD BODY */

.third-body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.third-heading {
  /* width: 55.157593%; */
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  /* margin-bottom: 110px; */
}

.third-heading h3 {
  margin-bottom: 30px;
}

.third-heading p {
  padding-left: 11px;
}

.third-slider-left {
  width: 100%;
  /* width: 87.679083%; */
}

.slider-image {
  width: 100%;
  /* width: 86.19281%; */
  margin-bottom: -4px;
}

.slider-left,
.slider-right {
  width: 40px;
  padding-top: 40px;
  display: none;
}

/* THIRD BODY */

/* FOURTH BODY */

.fourth-body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.fourth-heading {
  width: 100%;
  /* width: 87.901701%; */
  /* margin-bottom: 80px; */
  margin-bottom: 40px;
}

.fourth-heading h4 {
  margin-bottom: 20px;
  /* margin-bottom: 30px; */
}

.fourth-heading p {
  width: 77.204301%;
}

.fourth-content h5 {
  padding-top: 12px;
  padding-bottom: 12px;
  /* padding-top: 25px;
  padding-bottom: 25px; */
}

.fourth-content-left {
  width: 100%;
}

.fourth-left-left {
  width: 100%;
}

.fourth-left-right {
  width: 100%;
}

.fourth-content-right {
  width: 100%;
}

.fourth-content ul li {
  padding-top: 20px;
  padding-bottom: 20px;
  /* padding-top: 40px;
  padding-bottom: 40px; */
}

.fourth-content ul {
  margin-bottom: 15px;
  /* margin-bottom: 76px; */
}

.fourth-content button {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  outline: none;
  margin-bottom: 30px;
}

.fourth-left-left {
  position: relative;
}

.fourth-left-right {
  position: relative;
}

.fourth-content-right {
  position: relative;
}

.tick {
  width: 54px;
  height: 54px;
  position: absolute;
  top: -24px;
  right: -20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* FOURTH BODY */

/* FIFTH BODY */

.fifth-body {
  padding: 20px;
}

/* FIFTH BODY */

/* SIXTH BODY */

.sixth-container iframe {
  width: 100%;
  height: 250px;
  /* height: 860px; */
  margin-bottom: -4px;
}

.sixth-body {
  position: relative;
}

.video-bg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.video-bg img {
  width: 100%;
  height: 100%;
}

.play-btn {
  position: absolute;
  width: 116px;
  height: 116px;
  top: calc(50% - 58px);
  left: calc(50% - 58px);
}

.play-btn:hover {
  cursor: pointer;
}

/* SIXTH BODY */

/* SEVENTH BODY */

.seventh-body {
  padding: 20px;
}

.form-image {
  width: 80px;
  /* width: 252px; */
  /* margin-bottom: 90px; */
  margin-bottom: 50px;
}

.person-data {
  display: block;
  margin-bottom: 15px;
  /* margin-bottom: 25px; */
}

.mail input[type='text'] {
  width: 100%;
  height: 60px;
  /* width: 427px; */
  /* height: 88px; */
  padding-left: 15px;
  padding-right: 15px;
}

.email {
  margin-top: 46px;
}

.person-message {
  margin-top: 46px; /* Res */
}

.message-area {
  height: 150px;
  width: 100%;
  /* height: 292px;
  width: 516px; */
  padding: 15px;
}

.person-message input[type='submit'] {
  float: right;
  margin-top: 50px;
  width: 100%;
  height: 50px;
  /* width: 208px;
  height: 83px; 
  margin-top: 84px;*/
}

/* SEVENTH BODY */

/* FOOTER BODY */

.footer-body {
  padding: 20px;
}

.footer-image {
  width: 18px;
  /* width: 31px; */
  margin-right: 16px;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #efefef;
  font-size: 16px;
  /* font-size: 26px; */
}

.footer-logo-text {
  padding-right: 15px;
  /* border-right: 2px solid; */
}

.reference {
  padding-left: 15px;
  font-weight: 500;
  color: #8d8d8d;
  font-size: 16px;
  display: none;
}

.footer-icon {
  width: 24px;
  /* width: 44px; */
}

.footer-icon:first-child {
  margin-right: 15px;
  /* margin-right: 45px; */
}

/* FOOTER BODY */
