@media (min-width: 480px) {
  /* TOP BODY */

  .create-account {
    display: inline;
    font-size: 10px;
  }

  /* TOP BODY */

  /* SIXTH BODY */

  .sixth-container iframe {
    height: 320px;
  }

  /* SIXTH BODY */

  /* SEVENTH BODY */

  .form-image {
    width: 120px;
  }

  /* SEVENTH BODY */
}

@media (min-width: 768px) {
  /* TOP BODY */

  .logo-image {
    width: 43px;
    margin-right: 25px;
  }

  .logo-text {
    font-size: 37px;
  }

  .create-account {
    font-size: 14px;
    padding: 11px 20px;
  }

  .login-btn {
    width: 79px;
    height: 36px;
    font-size: 14px;
  }

  .lorem-heading {
    font-size: 38px;
  }

  .lorem-content {
    line-height: 28px;
    font-size: 18px;
  }

  .read-more {
    padding: 12px 24px;
  }

  /* TOP BODY */

  /* SECOND BODY */

  .second-body {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .second-body-left {
    float: left;
  }

  .second-body-left {
    width: 78.449905%;
  }

  .doc-image {
    width: 180px;
    display: block;
  }

  .doc-description {
    width: 63.855421%;
  }

  .doc-description-heading {
    text-align: left;
  }

  .doc-description-p {
    text-align: left;
  }

  .second-body-right {
    float: right;
    padding-top: 50px;
  }

  /* SECOND BODY */

  /* THIRD BODY */

  .third-heading {
    width: 55.157593%;
    text-align: left;
  }

  .third-slider-left {
    width: 87.679083%;
  }

  .slider-image {
    width: 86.19281%;
  }

  .slider-left,
  .slider-right {
    width: 40px;
    padding-top: 40px;
    display: block;
  }

  /* THIRD BODY */

  /* FOURTH BODY */

  .fourth-content-left {
    width: 63.799621%;
  }

  .fourth-left-left {
    width: 44.148148%;
  }

  .fourth-left-right {
    width: 45.185185%;
  }

  .fourth-content-right {
    width: 28.827977%;
  }

  /* FOURTH BODY */

  /* FIFTH BODY */

  .fifth-body {
    padding: 40px;
  }

  .fifth-body p {
    font-size: 26px;
  }

  /* FIFTH BODY */

  /* SIXTH BODY */

  .sixth-container iframe {
    height: 560px;
  }

  /* SIXTH BODY */

  /* SEVENTH BODY */

  .form-image {
    width: 160px;
    margin-bottom: 90px;
  }

  .person-data {
    margin-bottom: 25px;
  }

  .mail {
    font-size: 24px;
  }

  .person-message input[type='submit'] {
    font-size: 20px;
    /* font-size: 32px; */
  }

  .mail input[type='text'] {
    width: 100%;
    height: 76px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .person-info {
    width: 40.642722%;
  }

  .person-message {
    width: 49.149338%;
    margin-top: 0px; /* Res */
  }

  .message-area {
    height: 270px;
    width: 100%;
  }

  .person-message input[type='submit'] {
    width: 160px;
    height: 70px;
    /* width: 208px;
    height: 83px; */
    margin-top: 84px;
  }

  .person-info {
    float: left;
  }

  .person-message {
    float: right;
  }

  .seventh-body {
    padding-bottom: 50px;
  }

  /* SEVENTH BODY */

  /* FOOTER BODY */

  .footer-image {
    width: 24px;
  }

  .footer-text {
    font-size: 20px;
  }

  .footer-logo-text {
    border-right: 2px solid;
  }

  .reference {
    font-size: 12px;
    display: inline;
  }

  .footer-icon {
    width: 30px;
  }

  .footer-icon:first-child {
    margin-right: 30px;
  }

  /* FOOTER BODY */
}

@media (min-width: 992px) {
  /* TOP BODY */

  .top-body {
    padding-left: 100px;
    padding-right: 100px;
  }

  .top-heading {
    padding-top: 60px;
  }

  .top-content {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .create-account {
    font-size: 18px;
  }

  .login-btn {
    margin-top: 5px;
  }

  .lorem {
    width: 57.655954%;
  }

  .lorem-heading {
    text-align: left;
  }

  .lorem-content {
    width: 87.377049%;
    padding-top: 50px;
    padding-bottom: 72px;
    text-align: left;
  }

  .read-more {
    display: block;
    width: 240px;
    text-align: center;
    margin: 0;
    font-size: 24px;
    padding: 22px 42px;
  }

  .message-image {
    width: 200px;
    margin-right: 35px;
    display: block;
  }

  /* TOP BODY */

  /* SECOND BODY */

  .second-body {
    max-width: 95em;
    padding: 89px 100px 122px 100px;
  }

  .second-body-right {
    margin-right: 35px;
  }

  .doc-description-heading {
    font-size: 26px;
  }

  .doc-description-p {
    font-size: 16px;
  }

  .edit-logo {
    width: 40px;
    margin-bottom: 45px;
  }

  .facebook-logo {
    width: 40px;
  }

  /* SECOND BODY */

  /* THIRD BODY */

  .third-body {
    max-width: 95em;
    padding-left: 62px;
    padding-right: 62px;
    padding-top: 100px;
  }

  .third-heading {
    margin-bottom: 110px;
  }

  .third-heading h3 {
    font-size: 50px;
  }

  .third-heading p {
    font-size: 27px;
  }

  /* THIRD BODY */

  /* FOURTH BODY */

  .fourth-body {
    max-width: 95em;
    padding: 145px 231px;
  }

  .fourth-heading {
    width: 87.901701%;
    margin-bottom: 80px;
  }

  .fourth-heading h4 {
    margin-bottom: 30px;
  }

  .fourth-content h5 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .fourth-content ul li {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .fourth-content ul {
    margin-bottom: 76px;
  }

  .fourth-heading h4 {
    font-size: 38px;
  }

  .fourth-heading p {
    font-size: 20px;
    line-height: 36px;
  }

  .fourth-content h5 {
    font-size: 22px;
  }

  .fourth-content ul li {
    font-size: 18px;
  }

  .fourth-left-left ul li:first-child {
    font-size: 22px;
  }

  .fourth-left-right ul li:first-child {
    font-size: 22px;
  }

  .fourth-content-right ul li:first-child {
    font-size: 22px;
  }

  .fourth-content button {
    margin-bottom: 0px;
  }

  /* FOURTH BODY */

  /* FIFTH BODY */

  .fifth-body {
    max-width: 95em;
    padding: 60px 231px;
  }

  .fifth-body p {
    font-size: 38px;
  }

  /* FIFTH BODY */

  /* SIXTH BODY */

  .sixth-body {
    max-width: 95em;
  }

  .sixth-container iframe {
    height: 860px;
  }

  /* SIXTH BODY */

  /* SEVENTH BODY */

  .seventh-body {
    max-width: 95em;
    padding: 100px 231px;
  }

  .form-image {
    width: 252px;
  }

  .mail {
    font-size: 31px;
  }

  .person-message input[type='submit'] {
    font-size: 28px;
    /* font-size: 32px; */
  }

  .mail input[type='text'] {
    height: 88px;
  }
  .message-area {
    height: 292px;
  }

  .person-message input[type='submit'] {
    font-size: 32px;
  }
  .person-message input[type='submit'] {
    width: 208px;
    height: 83px;
  }

  /* SEVENTH BODY */

  /* FOOTER BODY */

  .footer-body {
    max-width: 95em;
    padding: 45px 231px;
  }

  .footer-image {
    width: 31px;
  }

  .footer-text {
    font-size: 26px;
  }

  .footer-icon {
    width: 44px;
  }

  /* FOOTER BODY */
}

@media (min-width: 1280px) {
  /* TOP BODY */

  .top-body {
    max-width: 95em;
    padding-left: 231px;
    padding-right: 231px;
  }

  .message-image {
    width: 276px;
    margin-right: 35px;
  }

  .lorem-heading {
    font-size: 46px;
  }

  .lorem-content {
    line-height: 38px;
    font-size: 23px;
  }

  .read-more {
    display: inline;
    font-size: 32px;
  }

  /* TOP BODY */

  /* SECOND BODY */

  .second-body {
    max-width: 95em;
    padding: 89px 231px 122px 231px;
  }

  .doc-image {
    width: 212px;
  }

  .second-body-right {
    padding-top: 50px;
    width: 34px;
  }

  .edit-logo {
    width: 62px;
  }

  .facebook-logo {
    width: 62px;
  }

  .doc-description-heading {
    font-size: 36px;
  }

  .doc-description-p {
    font-size: 18px;
    line-height: 38px;
  }

  /* SECOND BODY */

  /* FOURTH BODY */

  .fourth-content h5 {
    font-size: 30px;
  }

  .fourth-content ul li {
    font-size: 27px;
  }

  .fourth-left-left ul li:first-child {
    font-size: 30px;
  }

  .fourth-left-right ul li:first-child {
    font-size: 30px;
  }

  .fourth-content-right ul li:first-child {
    font-size: 30px;
  }

  /* FOURTH BODY */
}
