/* TOP BODY */

.top-body-container {
  background: linear-gradient(rgba(71, 87, 112, 0.95), rgba(71, 87, 112, 0.95)), url(../images/top-image.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.logo-text {
  font-size: 22px;
  color: #efefef;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.login-btn {
  border: none;
  outline: none;
  background-color: #67bf95;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
}

.login-btn:hover {
  cursor: pointer;
  background-color: #3d4b60;
  color: #cad1db;
}

.create-account {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
  color: #c9ced7;
  font-size: 14px;
}

.lorem-heading {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  /* font-size: 46px; */
  text-align: center;
}

.lorem-content {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #c5d2e5;
  line-height: 20px;
  font-size: 14px;
  /* line-height: 38px; */
  /* font-size: 23px; */
  text-align: center;
}

.read-more {
  background-color: #67bf95;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  /* font-size: 32px; */
}

.read-more:hover {
  background-color: #3d4b60;
  color: #cad1db;
}

/* TOP BODY */

/* SECOND BODY */

.second-container {
  background-color: #f6f6f7;
}

.doc-description-heading {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #37414e;
  font-size: 24px;
  text-align: center;
  /* font-size: 36px; */
}

.doc-description-p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #4b596c;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  /* font-size: 18px;
  line-height: 38px; */
}

/* SECOND BODY */

/* THIRD BODY */

.third-container {
  background-color: #52ad81;
}

.third-heading h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  /* font-size: 50px; */
}

.third-heading p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #ffffff;
  font-size: 16px;
  /* font-size: 27px; */
}

/* THIRD BODY */

/* FOURTH BODY */

.fourth-container {
  background-color: #f6f6f7;
}

.fourth-heading h4 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #37414e;
  font-size: 22px;
  /* font-size: 38px; */
}

.fourth-heading p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #858b93;
  font-size: 12px;
  line-height: 20px;
  /* font-size: 20px;
  line-height: 36px; */
}

.fourth-content {
  text-align: center;
}

.fourth-content button {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.fourth-content button:hover {
  cursor: pointer;
}

.fourth-content h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  /* font-size: 30px; */
}

.fourth-content ul li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* font-size: 27px; */
}

.fourth-left-left h5 {
  background-color: #4b596c;
}

.fourth-left-left ul {
  background-color: #e9eef3;
  color: #6d737b;
}

.fourth-left-left ul li:first-child {
  font-weight: 700;
  color: #6d737b;
  font-size: 20px;
  /* font-size: 30px; */
}

.fourth-left-left button {
  background-color: #37414e;
  font-size: 20px;
}

.fourth-left-left button:hover {
  background-color: #e9eef3;
  color: #6d737b;
}

.fourth-left-right h5 {
  background-color: #58ad52;
}

.fourth-left-right ul {
  background-color: #deebde;
  color: #768275;
}

.fourth-left-right ul li:first-child {
  font-weight: 700;
  color: #58ad52;
  font-size: 20px;
  /* font-size: 30px; */
}

.fourth-left-right button {
  background-color: #58ad52;
  font-size: 20px;
}

.fourth-left-right button:hover {
  background-color: #deebde;
  color: #768275;
}

.fourth-content-right h5 {
  background-color: #52a1ad;
}

.fourth-content-right ul {
  background-color: #dee9ec;
  color: #6d737b;
}

.fourth-content-right ul li:first-child {
  font-weight: 700;
  color: #52a1ad;
  font-size: 20px;
  /* font-size: 30px; */
}

.fourth-content-right button {
  background-color: #52a1ad;
  font-size: 20px;
}

.fourth-content-right button:hover {
  background-color: #dee9ec;
  color: #6d737b;
}

.tick {
  border-radius: 50%;
  background-color: #f7ca52;
  color: #ffffff;
}

/* FOURTH BODY */

/* FIFTH BODY */

.fifth-container {
  background-color: #e9eaed;
}

.fifth-body p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #4b596c;
  font-size: 16px;
  /* font-size: 38px; */
}

/* FIFTH BODY */

/* SIXTH BODY */

.sixth-container {
  background-color: #f6f6f7;
}

/* SIXTH BODY */

/* SEVENTH BODY */

.seventh-container {
  background-color: #2d3136;
}

.mail {
  font-size: 18px;
  /* font-size: 31px; */
  color: #d7d7d7;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.mail sup {
  color: #be393b;
}

.mail input,
.mail textarea {
  display: block;
}

.mail input[type='text'] {
  background-color: transparent;
  border: 1px solid #4c4f53;
  outline: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #d7d7d7;
  font-size: 27px;
}

.mail input[type='text']:focus {
  border: 1px solid #be393b;
}

.message-area {
  background-color: transparent;
  border: 1px solid #4c4f53;
  outline: none;
  border-radius: 4px;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #d7d7d7;
  font-size: 27px;
}

.message-area:focus {
  border: 1px solid #be393b;
}

.person-message input[type='submit'] {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  /* font-size: 32px; */
  color: #ffffff;
  border: none;
  outline: none;
  background-color: #be393b;
  border-radius: 4px;
}

.person-message input[type='submit']:hover {
  cursor: pointer;
  background-color: #4c4f53;
  color: #d7d7d7;
}

/* SEVENTH BODY */

.footer-container {
  background-color: #2a2d33;
}
